@charset "UTF-8";

*
{
	margin: 0;
	padding: 0;

	border: none;
	outline: none;
}

html, body
{
	width: 100%;
	height: 100%;
}


.disp-wrapper
{
	width: 100%;
	height: 100%;

	position: relative;
}

.disp-content
{
	width: 100%;
	height: 100%;

	position: relative;

	background-image: url(../img/bg.jpg);
	background-image: url(../img/bg_noise.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	overflow: hidden;
}

#disp-canvas
{
	position: relative;
}

.flick
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	background: rgb(8, 8, 8);

	animation: flickFrames 400ms linear infinite;
}

@keyframes flickFrames
{
	0%		{opacity: 0.08;}
	25%		{opacity: 0.2;}
	50%		{opacity: 0.06;}
	75%		{opacity: 0.18;}
	100%	{opacity: 0.08;}
}