@charset "UTF-8";

html, body
{
	width: 100%;
	height: 100%;
}


.disp-wrapper
{
	width: 100%;
	height: 100%;

	position: relative;
}

.disp-content
{
	width: 100%;
	height: 100%;

	position: relative;

/*	background: #000;
	background: #0D0221;*/

	background-image: url(../img/bg.jpg);
	background-image: url(../img/bg_noise.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	overflow: hidden;
}



/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}